:root {

    /* Primary Colors */
    --color-primary: #DC143C;
    --color-button-primary: #C61937;
    --color-button-light: #E84560;

    /* Background Colors */
    --background-primary: #001f3f;
    --background-primary-darker: #051B34;
    --background-light: #051B34;
    /* Text Colors */
    --text-color-primary: #B0BEC5;
    --text-color-light: #e7e7e7;
    --text-white: #fff;

    /* Spacing */
    --spacing-md: 1rem; /* 16px */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;
    --spacing-3xl: 4rem;

    /* Font Sizes */
    --font-size-xs: 0.8125rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;

    /* Border Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 36px;
    --radius-full: 50%;

    /* Border Color */
    --border-color-light:rgba(255, 255, 255, 0.1);
    
    /* Box Shadows */
    --shadow-color-primary: #BF1234;
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.2);
    
    /* Transitions */
    --transition-fast: all 0.2s ease-in-out;
    --transition-mid: all 0.5s ease-in-out;
    --transition-slow: all 0.8s ease-in-out;

    /* Headings - Strong and bold */
    --font-heading: 'Oswald', 'Arial Narrow', sans-serif;
    
    /* Body - Clean and readable */
    --font-body: 'Open Sans', 'Arial', sans-serif;



}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: var(--font-body); 
   background-color: var(--background-primary);
   color: var(--text-white);
   line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 600;
    text-transform: uppercase; /* Optional: adds authority */
    letter-spacing: 1px;
    line-height: 1.2;
}

header {
    background: var(--background-primary-darker);
    padding: var(--spacing-2xl);
    margin: 0;
    max-height: 300px;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

}

.projects-back-btn a {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-sm);
    text-decoration: none;
    color: var(--text-color-primary);
    transition: color var(--transition-slow);
}
.projects-back-btn a:hover {
    color: var(--text-white);
}

.header-content h2 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-xs);
}

.header-content p {
    font-size: var(--font-size-sm);
    color: var(--text-color-primary);
}

#projects {
    position: relative;
}

#projects .project-filter {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-lg);
    position: sticky;
    background-color: #1C2C44;
    width: 100%;
    max-height: 10px;
    padding: var(--spacing-xl) var(--spacing-2xl);
    top: 0;
    z-index: 9999;

}

#projects .project-filter .filter-icon {
    font-size: var(--font-size-lg);
    color: var(--text-white);
}

#projects .filter-options {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    flex-wrap: wrap;
}

#projects .filter-options .filter-option {
    border: 2px solid var(--color-primary);
    padding: var(--spacing-sm) var(--spacing-md);
    background: transparent;
    color: white;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0.5;
    transition: all var(--transition-mid);
}

#projects .filter-options .filter-option:hover {
    background: var(--color-button-primary);
    border: 2px solid transparent;
    opacity: 1;
    box-shadow: var(--shadow-md);
    
}

#projects .filter-options .filter-option.active {
    opacity: 1;
    background: var(--color-button-primary);
    border: 2px solid transparent;
}

#projects .filter-options .filter-option span {
    display: block;
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    font-weight: 600;
    letter-spacing: 1.05px;
}

.project-showing {
    padding:  var(--spacing-md) var(--spacing-2xl);
    margin-bottom: var(--spacing-lg);
    color: var(--text-color-primary)
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--spacing-lg);
    padding: var(--spacing-2xl) var(--spacing-2xl);
}

.project {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--border-color-light);
    height: 400px;
    transition: all 0.3s ease-in-out;
    
}

.project:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-primary)
}

.project img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.project:hover img {
    transform: scale(1.05);
}

.project::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 100%
    );
    z-index: 2;
    pointer-events: none;
}

.project-badge {
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 0.25rem 0.75rem;
    z-index: 3;
    top: 1rem;
    left: 1rem;
    background-color: var(--color-primary);
    position: absolute;
}

.project-badge  p {
    margin: 0;
    font-size: var(--font-size-sm);
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
}

.project-information {
    background-color: transparent;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 1.5rem;
    background-color: #1C2C44;

}

.project-information h3 {
   font-size: var(--font-size-lg);
   font-weight: 700;
   margin: 0 0 0.5rem 0 ;

}

.project-information p {
    font-size: var(--font-size-sm);
    color: var(--text-color-primary);
    margin: 0 0 0.5rem;
    font-weight: 500;
}

.city-state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-color-primary);
    padding: 0 0 1rem;

}

.project-city,
.project-year {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.project-city span,
.project-year span {
    color: var(--font-size-sm);
    color: var(--text-color-primary);
}

.project-city i,
.project-year i {
    font-size: var(--font-size-sm);
    color: var(--text-color-primary);
}

.project-material-count {
    margin-top: 1rem;
}

.project-material-count span {
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--color-primary);
    letter-spacing: 0.5px;

}

/*
============================
    FOOTER
============================
*/

footer {
    background-color: var(--background-light);
    padding: 2rem 0;
}

.project-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    line-height: 1;
}

.project-footer-content h2 {
    font-size: var(--font-size-lg);
    font-weight: 700;

}

.project-footer-content p {
    color: var(--text-color-primary);
    font-size: var(--font-size-sm);
}

.footer-actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.footer-actions button {
    padding: var(--spacing-md);
    border-radius: 6px;
    border: 1px solid transparent;
    padding: var(--spacing-md) var(--spacing-lg);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1.05px;
}

.footer-actions button:first-child {
    background-color: var(--color-button-primary);
    box-shadow: var(--shadow-lg);

}




.footer-actions button:nth-child(2) {
    border: 2px solid #1C2C44;
    background-color: transparent;
    transition: var(--transition-mid);
}
.footer-actions button:nth-child(2):hover {
    background-color: #294063;
}





