:root {

    /* Primary Colors */
    --color-primary: #DC143C;
    --color-button-primary: #C61937;
    --color-button-light: #E84560;

    /* Background Colors */
    --background-primary: #001f3f;
    --background-primary-darker: #051B34;
    --background-light: #001f3f;

    /* Text Colors */
    --text-color-primary: #B0BEC5;
    --text-color-light: #e7e7e7;
    --text-white: #fff;

    /* Spacing */
    --spacing-md: 1rem; /* 16px */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;
    --spacing-3xl: 4rem;

    /* Font Sizes */
    --font-size-xs: 0.8125rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;

    /* Border Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 36px;
    --radius-full: 50%;

    /* Border Color */
    --border-color-light:rgba(255, 255, 255, 0.1);
    
    /* Box Shadows */
    --shadow-color-primary: #BF1234;
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.2);
    
    /* Transitions */
    --transition-fast: all 0.2s ease-in-out;
    --transition-mid: all 0.5s ease-in-out;
    --transition-slow: all 0.8s ease-in-out;

    /* Headings - Strong and bold */
    --font-heading: 'Oswald', 'Arial Narrow', sans-serif;
    
    /* Body - Clean and readable */
    --font-body: 'Open Sans', 'Arial', sans-serif;



}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: var(--font-body); 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 600;
    text-transform: uppercase; /* Optional: adds authority */
    letter-spacing: 1px;
}

