<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Confirmation</title>
</head>
<body>
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <p>Message Sent!</p>
            </div>
            <div class="modal-sentText">
                <p>We'll get back to you within 24 hrs.</p>
            </div>
        </div>
    </div>
</body>
</html>